<div class="row" ng-controller="obrisiS">
    <div class="col-md-12" style="border: 1px solid black">
        <h1>{{message}}</h1>
        <table class="table">
            <tbody>
            <tr>
                <td>Serial number:</td>
                <td><input type="text" class="form-control" ng-model="serialNumber"></td>
            </tr>

            <tr>
                <td></td>
                <td><button type="button" class="btn btn-success" ng-click="delete()" >Delete</button></td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>